:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 250px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}


img {
  border-radius: 4px;
}

* {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  max-width: 1200px;
}

html {
  overflow-x: hidden;
}

.section-title { 
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding: 4rem 0 !important;
}
/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
  z-index: 100;
}

aside header {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  margin: 1.5rem !important;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem !important;
  margin-top: 0;
}

aside main {
  margin: 1.5rem !important;
}

aside p {
  margin: 0 0 0.25rem !important;
}

aside p:last-child {
  margin: 0 !important;
}

aside .cart-line {
  padding: 0.25rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #e3e3e3;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: rgba(14, 0, 8, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  height: var(--header-height);
  width: 100vw;
  height: 4rem;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
  }

.box-shadow-div {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 32px -8px rgba(31, 38, 135, 0.37);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
}

.header-menu-desktop {
  display: none;
  @media (min-width: 45em) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.header-menu-item {
  cursor: pointer;
  color: #c2c2c2;
  position: relative;
  height: 100%;
}

.header-ctas {
  align-items: center;
  display: flex;
  margin-left: auto;
  gap:1rem;
}

.nav-color {
  color: #e2e2e2;
}

.nav-link {
  color: #c2c2c2;
  height: 100%;
  width:8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background: #a3005d;
  color: #e2e2e2;
}

.header-ctas > a {
  color:#c2c2c2 !important;
}

a:hover {
  color:#e3e3e3 !important;
  text-decoration: none;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

.hero-wrapper {
  height: 80vh;
  max-height: 600px;
  width: 100vw;
  background: #0e0008;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  padding: 3rem 0 !important;
}

.hero-wrapper > .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  max-width: 1200px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.hero-left{
  display:flex;
  flex-direction:column;
  width: 100%;
  height:100%;
  justify-content:center;
  gap: 2rem;
  align-items:center;
}

.hero-left h1 {
  color: #e3e3e3;
  font-size: 3rem;
  max-width: 600px;
  text-align: center;
}

.hero-left p {
  color: #c2c2c2;
  width: 400px;
}

.btns {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  gap: 2rem;
}

.hero-right {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.hero-right h2 {
  color: #e3e3e3;
  font-size: 2rem;
}

.feature-hero-link {
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.featured-image {
  height: 100%;
  display: flex;
  align-items: center;
  opacity:0.80;
  border-radius: 10px;
}

.bokehContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.bokeh {
  border-radius: 50%;
  filter: blur(3px);
  opacity: 15%;
  position: absolute;
}

/*
* --------------------------------------------------
* components/Buttons
* --------------------------------------------------
*/

.primary-button {
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  width: 200px;
  height: 3rem;
  padding: 0.75rem 1rem;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  background-image: linear-gradient(0.3turn,#655421, #D4AF37, #e4e4e4, #D4AF37, #655421);
  background-size: 300% 100%;
  border-width: 0;
  cursor: pointer;
}

.primary-button:hover {
    transform: scale(1.05);
    background-position: 100% 0;
}

.secondary-button {
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  width: 200px;
  height: 3rem;
  outline: 1px solid white;
  color: white;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.cart-button {
  border:solid 1px #c1c1c1;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.5rem !important;
  background: none;
}

.cart-button:hover {
  background-color:'#fff';
}

/*
* --------------------------------------------------
* components/Collections
* --------------------------------------------------
*/

.collections-wrapper {
  position: relative;
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 !important;
  padding-bottom: 20vh !important;
}

.collections-wrapper > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2rem;
  position: relative;
}

.collection-card {
  max-width: 350px;
  padding: 2rem !important;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  transition: ease-in-out 0.3s;
  position: relative;
}

.collection-card > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.collection-card:hover {
  transform: scale(1.05);
}


.collection-card::before{
  content: '';
  top: 1px;
  left: 1px;
  right: 1px;
  position:absolute;
  border-radius: 10px;
  bottom: 1px;
  z-index: -1;
  background: linear-gradient(45deg, rgba(163,0,93,1) 0%, rgba(163,0,93,1) 27%, rgba(255,255,255,1) 100%); /* w3c */
}

.collection-card::after {
content: '';
position: absolute;
top: 1px;
left: 1px;
right: 1px;
bottom: 1px;
z-index: -1;
filter: blur(15px);
background: linear-gradient(45deg, rgba(163,0,93,1) 0%, rgba(163,0,93,1) 27%, rgba(255,255,255,1) 100%); /* w3c */
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  gap: 1rem;
  border-radius: 3px;
}

.cart-line img {
  height: 100%;
  display: block;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
  align-items:center;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 5rem 0 !important;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/

.collection-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 !important;
}

.collection-wrapper > .container{
  width: 100%;
}

.collections-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem !important;
  background-color: red;
}

.grid-container-outer {
  position: relative;
  width: 100%;
}

.grid-container-inner {
  padding: 2rem !important;
  background:#fff;
  border-radius: 10px;
}

.grid-container-inner::before {
  content:'';
  position: absolute;
  z-index: -3;
  background:#c2c2c2;
  top: -2px;
  border-radius: 10px;
  left: -2px;
  bottom: 98%;
  right: -2px;
}


.grid-container-inner::after {
  content:'';
  position: absolute;
  z-index: -3;
  background:#c2c2c2;
  top: 98%;
  left: -2px;
  bottom: -2px;
  border-radius:10px;
  right: -2px;
}

.product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-image {
  transition: ease-in-out 0.3s;
}

.product-image:hover{
  transform: scale(1.05)
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
  max-width: 400px;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  background-color:#0e0008;
  padding-top: 4rem !important;
  height: 100vh;

  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
  font-size: 3rem;
  color:#e3e3e3;
}

.product p {
  color:#e3e3e3;
}

.product-price > div {
  color: #e3e3e3;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image {
  width: 80%;
}

.product-pg-image {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.product-pg-image img{
  width: 80%;
  height:auto;
  max-width: 600px;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  height: 100%;
}

.product-price {
  font-size: 1.5rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.desc {
  width: 60ch;
  color: #c2c2c2;
}

.product hr {
  margin: 3rem 0 !important;
  width: 40rem;
  border-top: solid 1px #c2c2c2;

}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}
